@import "tailwindcss";
@layer base {
  :root {
    --font-poppins: 'Poppins', sans-serif;
    --font-inter: 'Inter', sans-serif;
  }
}

.font-poppins {
  font-family: var(--font-poppins);
}

.font-inter {
  font-family: var(--font-inter);
}
::-webkit-scrollbar{
  width: 5px;
}
html {
  scroll-behavior: smooth;
}